// FUENTES DE WEB

@font-face {
    font-family: "Gotham-Pro";
    src: url("../font/GothamPro.woff") format('woff');
}
@font-face {
    font-family: "Gotham-Pro-ligth";
    src: url("../font/GothamPro-Light.woff") format('woff');
}
@font-face {
    font-family: "Gotham-Pro-medium";
    src: url("../font/GothamPro-Medium.woff") format('woff');
}

/* 
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com 
Twitter: @rich_clark
*/

html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

body {
    line-height: 1;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

nav ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: "";
    content: none;
}

a {
    margin: 0;
    padding: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

/* change colours to suit your needs */

ins {
    background-color: #ff9;
    color: #000;
    text-decoration: none;
}

/* change colours to suit your needs */

mark {
    background-color: #ff9;
    color: #000;
    font-style: italic;
    font-weight: bold;
}

del {
    text-decoration: line-through;
}

abbr[title],
dfn[title] {
    border-bottom: 1px dotted;
    cursor: help;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* change border colour to suit your needs */
hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #cccccc;
    margin: 1em 0;
    padding: 0;
}

input,
select {
    vertical-align: middle;
}

* {
    box-sizing: border-box;
    font-family: 'Gotham-Pro';
}

.cls-1{fill:#000; color: black;}
.cls-2{fill:rgb(255, 255, 255); color: white}
.white{
    color: white;
}
.black{
    color: black;
}
.primary{
    color: $primary;
}
.title-section{
    font-size: 3rem;
    letter-spacing: .2em;
}
.gris{
    color: $second
}
.blanco{
    color: white;
}

.title-partial{
    font-size: 3rem;
    color: #272727;
    text-align: end;
}
.icon-border {
    border: 2px solid #000;
    height: 1.8rem;
    width: 1.8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    
}
.pr-5{
    padding-right: 5em;
}
p{
    padding-top: 1rem;
}
.text-blanco{
    color: white;
}

@media screen and (max-width: 768px) {
    .title-section{
        font-size: 2rem;
        text-align: center;
    }
    .title-partial{
        font-size: 2rem;
        padding-top: 2rem;
        color: #272727;
        text-align: start;
    }

}
.text-justify p{
    text-align: justify;
    hyphens: auto;
    -webkit-hyphens: auto;
}
.avion{
    display: block;
    margin: auto;
    width: 100%;
}
h2.verde{
    color: #d4da25;
    font-size: 2em;
    text-align: center;
    font-family: "Gotham-Pro-ligth";
    
    transition: cubic-bezier(0.215, 0.610, 0.355, 1) 3s;
}
h3.blanco{
    color: #ffffff;
    font-size: 1.4em;
    text-align: center;
    line-height: 2em;
    font-family: "Gotham-Pro-ligth";
    
    transition: cubic-bezier(0.215, 0.610, 0.355, 1) 3s;
    

}
.opac{
    opacity: 0;
}